@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&family=Roboto+Mono&family=Roboto:wght@100;400;700&display=swap');
@import './dist/variables.scss';

* {
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

body {
    background: $background-color;
}

.container{
    width: 350px;
    margin: 50px auto;
    background-color: $white-color;
}